html {
    overflow: hidden;
}

#mapid {
    height: 100%;
}

.container-fluid {
    height:100%;
    width:100%;
    padding:0;
}

.col-lg-12 {
    height:100%;
    width:100%;
    padding: 0;
}

a.navbar-brand {
    padding-left: 30px;
}
