/* Sidebar */

#sidebar-table {
    margin-top: 0;
    background-color: white;
}

table.dataTable {
    margin-top: 0 !important;
}

.table-hover > tbody > tr:hover {
  background-color: #D2D2D2;
}

#sidebar-wrapper {
    position: absolute;
    right: 0;
    width: 400px;
    height: 100%;
    transform: translate(400px, 0px);
    transition: all 0.5s;
    background: darkgray;
    opacity: 0.9;
    padding: 0;
}

/* Always take up entire screen */
#page-content-wrapper {
    height: 100%;
    width: 100%;
    padding: 0;
    position: absolute;
    transition: all 0.5s;
}

/* transform the sidebar into view */
#wrapper.menuDisplayed #sidebar-wrapper {
    transform: translate(0px, 0px);
}

/* Since we added left padding, we need to shrink the width by 250px */
#wrapper.menuDisplayed #page-content-wrapper {
    padding-right: 400px;
}

/*Set counter for first row*/
.css-serial {
    counter-reset: serial-number; /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
    counter-increment: serial-number; /* Increment the serial number counter */
    content: counter(serial-number); /* Display the counter */
}
