/* Sidebar */

#sidebar-wrapper {
    position: absolute;
    right: 0;
    width: 400px;
    height: 100%;
    transform: translate(400px, 0px);
    transition: all 0.5s;
    background: #2C3E50;
    opacity: 0.9;
}

/* Always take up entire screen */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    transition: all 0.5s;
}


/* transform the sidebar into view */

#wrapper.menuDisplayed #sidebar-wrapper {
    transform: translate(0px, 0px);
}

/* Since we added left padding, we need to shrink the width by 250px */
#wrapper.menuDisplayed #page-content-wrapper {
    padding-right: 400px;
}


/* Sidebar styling - the entire ul list */
.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover {
    background: #16A085;
}
