blockquote{
    font-size:x-large;
    font-family: 'Satisfy', serif;
}

body {
    background-color: #e6e6e6;
}

.navbar{
    border-radius: 0;
    padding: 0%;
    margin: 0%;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

#profile_container {
    padding: 15px;
}