{% extends 'cda/base.html' %}


{% block title %}
    CDA - Map
{% endblock %}

{% block add_head %}

    {% load staticfiles %}

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static "cda/sidebar.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "cda/map.css" %}"/>

{% endblock %}

<!-- add toggle bottom -->
{% block toggle %}
<!-- Right Navbar Items -->
<ul class="nav navbar-nav navbar-right">
    <li><a href="#" id="menu-toggle">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>&nbsp;
    </a></li>
</ul>
{% endblock %}


{% block body %}

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="#">Calls</a></li>
                <li><a href="#">Phones</a></li>
                <li><a href="#">Persons</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>

        <!-- Page Contents -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="col-lg-12">
                    <!-- Setup Map -->
                    <div id="mapid">

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Menu toggle script -->
    <script>
        $("#menu-toggle").click( function (e){
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed");
        });
    </script>

    <script>

        <!-- Setup the BaseMap -->
        var mymap = L.map('mapid').setView([33.885, 35.5061], 14);

            <!-- Load the mapTiles from mapbox -->
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                maxZoom: 18,
                id: 'mannerisms.pigb1922',
                accessToken: 'pk.eyJ1IjoibWFubmVyaXNtcyIsImEiOiJjaW1obnE4azUwMDBtdnZtMnFicHVwN3lpIn0.e0CXD69_JWWW-pkNfG62Dg'
            }).addTo(mymap);

        <!-- Popup for location when clicked -->
        var popup = L.popup();

        <!-- Create a small circle to act as a mast -->
        var mast = L.circleMarker([33.885, 35.5061],{
            stroke: false,
            fillColor: '#ff0000',
            fillOpacity: .75,
        }).setRadius(6).addTo(mymap);
        mast.bindPopup("<b>Cell_Name: </b><br>15:10:23 - Mary <b>EXAMPLES</b>");

    </script>


{% endblock %}

