{% extends 'cda/base.html' %}


{% block title %}
    CDA - Map
{% endblock %}

{% block add_head %}

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}"/>
    <script src="{% static 'leaflet/leaflet.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "cda/map.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "cda/sidebar.css" %}"/>

{% endblock %}

<!-- add toggle bottom -->
{% block toggle %}
    <!-- Right Navbar Items -->
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="menu-toggle">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>&nbsp;
        </a></li>
    </ul>
{% endblock %}


{% block content %}

    <div id="wrapper">
        <!-- Page Contents -->
        <div id="page-content-wrapper">
            <div id="map_container" class="container-fluid">
                <div id="map_col" class="col-lg-12">
                    <!-- Setup Map -->
                    <div id="mapid"></div>
                </div>
            </div>
        </div>


        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="container-fluid">
            <table id="sidebar-table" class="table table-hover table-condensed table-striped table-bordered css-serial"
                   width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th></th>
                    <th>Time</th>
                    <th>Outgoing</th>
                    <th>Incoming</th>
                </tr>
                </thead>

                <tbody>
                {% for mast in all_masts %}
                    <tr>
                        <td></td>
                        <td>##:##:##</td>
                        <td>{{ mast.name }}</td>
                        <td>{{ mast.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <script>

        // Sidebar JS
        $(document).ready(function () {


            var table = $('#sidebar-table').DataTable({
                "bPaginate": false,
                "bInfo": false,
                "bSort": false,
                "bFilter": false,
                "bScrollCollapse": true
            });

            $('#sidebar-table tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });


            // Menu toggle script
            $('#menu-toggle').click(function (e) {
                e.preventDefault();
                if ($("#wrapper").hasClass('menuDisplayed')) {
                    $("#wrapper").removeClass('menuDisplayed');
                    $('#sidebar-table').fadeToggle();
                }
                else {
                    $("#wrapper").addClass('menuDisplayed');
                    $('#sidebar-table').fadeToggle();
                }
            });

        });

        // Configure BaseMap
        var map = L.map('mapid').setView([33.885, 35.5061], 14);

        // Load the mapTiles from mapbox
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mannerisms.pigb1922',
            accessToken: 'pk.eyJ1IjoibWFubmVyaXNtcyIsImEiOiJjaW1obnE4azUwMDBtdnZtMnFicHVwN3lpIn0.e0CXD69_JWWW-pkNfG62Dg'
        }).addTo(map);


        // Function enabling popups for features
        function onEachFeature(feature, layer) {
            // does this feature have a property named popupContent?
            if (feature.properties && feature.properties.popupContent) {
                layer.bindPopup(feature.properties.popupContent);
            }
        }

        // Create List of all mast features
        var cellMasts = [
            {% for mast in all_masts %}
                {
                    "type": "Feature",
                    "properties": {
                        "name": "{{ mast.name }}",
                        "amenity": "Cell mast",
                        "popupContent": "<b>{{ mast.name }}</b>",
                        "show_on_map": true
                    },
                    "geometry": {
                        "type": "Point",
                        "coordinates": [{{ mast.long }}, {{ mast.lat }}]
                    }
                },
            {% endfor %}
        ];

        // Set options for points
        var geojsonMarkerOptions = {
            radius: 6,
            fillColor: "#000000",
            color: "#000",
            weight: 0,
            opacity: 1,
            fillOpacity: 0.8
        };

        // Setup Points and add to map
        L.geoJson(cellMasts, {

            // Add popups to features
            onEachFeature: onEachFeature,

            // Filter masts for show on map
            filter: function (feature, layer) {
                return feature.properties.show_on_map;
            },

            // Add styling to poings
            pointToLayer: function (feature, latlng) {
                return L.circleMarker(latlng, geojsonMarkerOptions)
            }
        }).addTo(map);

    </script>

{% endblock %}

